<h3>Balance Book</h3><br />

<table border="2">
  <tr>
    <th>Income Id</th>
    <th>Expense Id</th>
    <th>Credit Amount</th>
    <th>Debit Amount</th>
    <th>Balance</th>
    <th>Created at</th>
  </tr>
  <% for records in @all_records %>
  <tr>
    <th><%= records.income_id %> </th>
    <th><%= records.expense_id %> </th>
    <th><%= records.credit_amount %> </th>
    <th><%= records.debit_amount %> </th>
    <th><%= records.balance_amount %> </th>
    <th><%= records.created_at %> </th>
  </tr>
  <% end %>
</table>