<div id="content">
  <h3>Balance Book</h3><br />

  <% @all_records.size > 0  %>
  <table border="1">
    <tr>
      <th>Income Id</th>
      <th>Expense Id</th>
      <th>Credit Amount</th>
      <th>Debit Amount</th>
      <th>Balance Amount</th>
      <th>Created at</th>
    </tr>
    <% for records in @all_records %>
    <tr>
      <td><%= (records.income_id.blank?) ? "-" : records.income_id %> </td>
      <td><%= (records.expense_id.blank?) ? "-" : records.expense_id %> </td>
      <td style="color: green"><%= (records.credit_amount.blank?) ? "-" : records.credit_amount %> </td>
      <td style="color: red"><%= (records.debit_amount.blank?) ? "-" : records.debit_amount %> </td>
      <%= content_tag(:td, records.balance_amount, :style=>(records.balance_amount < 0? "color: red" : "color: green")) %>
      <td><%= records.created_at %> </td>
    </tr>
    <% end %>
  </table><br />

  <h6>*Amount in Rupees</h6>
</div>